extends ../layout

block content
  h2 API Examples
  hr

  .row
    .col-sm-4
      a(href='/api/index', style='color: #fff')
        .card(style='background-color: #0A0')
          .card-body
            h3 api/index
